{% extends 'layout.html' %}

{% block title %}Calculator{% endblock %}

{% block content %}
<form>
    <div class="row">
        <div class="col">
            <label for="startDate">Start Date:</label>
        <input type="date" class="form-control" id="SD" name="startDate">
        </div>
        <div class="col">
            <label for="endDate">End Date:</label>
        <input type="date" class="form-control" id="ED" name="endDate">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="startTime">Start Time:</label>
        <input type="text" class="form-control" id="ST" name="startTime" placeholder="00:00">
        </div>
        <div class="col">
            <label for="endTime">End Time:</label>
        <input type="text" class="form-control" id="ET" name="endTime" placeholder="00:00">
        </div>
    </div>
    <div class="form-group">
        <label for="Profits">Profits($):</label>
                <input type="text" class="form-control " id="P" name="profits" placeholder="0.00">
                <small id="profitsHelp" class="form-text text-muted">Amount made during the time selected.</small>
    </div>
    <button type="submit" class="btn btn-primary">Calculate Productivity</button>
</form>

{% endblock %}