{% extends 'layout.html' %}

{% block title %}Profiles{% endblock %}

{% block content %}
<h2>Profiles Page</h2>
<!---TODO: Inserting Search function here *dab*-->
<style>
  .autosave-message {
    text-align: right;
    color: green
  }
  .autosave-message--saving {
    color: greenyellow;
  }
</style>
<script src="../static/saver.js"></script>

<div class="msg">{{ msg }}</div>  

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Add Employee
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <form method="POST" action="/employeeprofiles">
          <div class="row">
              <div class="col">
                  <label for="firstName">First Name:</label>
                  <input type="text" class="form-control" id="FN" name="firstName" required>
              </div>
              <div class="col">
                  <label for="lastName">Last Name:</label>
                  <input type="text" class="form-control" id="LN" name="lastName" required>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <label for="phone">Phone Number:</label>
                  <input type="text" class="form-control" id="P" name="phone" placeholder="###-###-####" required>
              </div>
              <div class="col">
                  <label for="email">Email Address:</label>
                  <input type="text" class="form-control" id="E" name="email" placeholder="example@example.ex" required>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <label for="id">ID:</label>
                  <input type="number" class="form-control" id="ID" name="id" min="0" step="1" required>
              </div>
              <div class="col">
                  <label for="salary">Hourly Pay:</label>
                  <input type="number" class="form-control" id="S" name="salary" placeholder="0.00" step="0.01" min="0" required>
              </div>
          </div>
          <button type="submit" class="btn btn-danger" name="Add" value = "Add">Add Employee</button>
        </form>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Edit Employee
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample2">
      <div class="accordion-body">
        <!--EMPLOYEE DROPDOWN-->
        <div class="form-group">
          <form method = "POST" action = "/employeeprofiles">
            <label for="employee">Employee</label>
            <select id="ID3" name="id3" class="form-control" aria-describedby="employeeHelp">
              <option selected>Choose...</option>
              {% for item in emp_t %}
                <option value = "{{ item['employee_id'] }}">{{ item['employee_id'] }}</option>
              {% endfor %}
            </select>
            <div class="row">
              <div class="col">
                  <label for="firstName">First Name:</label>
                  <input type="text" class="form-control" id="FN1" name="firstName1" required>
              </div>

              <div class="col">
                  <label for="lastName">Last Name:</label>
                  <input type="text" class="form-control" id="LN1" name="lastName1" required>
              </div>
            </div>
            <div class="row">
                <div class="col">
                  <label for="phone">Phone Number:</label>
                  <input type="text" class="form-control" id="P1" name="phone1" placeholder="###-###-####" required>
                </div>
                <div class="col">
                  <label for="email">Email Address:</label>
                  <input type="text" class="form-control" id="E1" name="email1" placeholder="example@example.ex" required>
                </div>
            </div>
            <div class="row">
              <div class="col">
                  <label for="salary">Hourly Pay:</label>
                  <input type="number" class="form-control" id="S1" name="salary1" placeholder="0.00" step="0.01" min="0" required>
              </div>
            </div>
            <button type="submit" class="btn btn-danger" name="Edit" value = "Edit">Edit Employee</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Add Position to Employee
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordion3">
      <div class="accordion-body">
        <form method = "POST" action = "/employeeprofiles">
          <div class="row">
            <div class="col">
              <label for="id">Shift ID:</label>
              <input type="number" class="form-control" id="shid" name="shid" min="0" step="1" required>
            </div>
          </div>
          <!--EMPLOYEE DROPDOWN-->
          <div class="form-group">
            <label for="employee">Employee</label>
            <select id="employee" name="employee" class="form-control" aria-describedby="employeeHelp" required>
              <option selected>Choose...</option>
                {% for item in emp_t %}
                <option>{{ item['employee_id'] }}</option>
              {% endfor %}
            </select>
          </div>
          <!--POSITION DROPDOWN-->
          <div class="form-group">
            <label for="position">Position</label>
            <select id="position" name="position" class="form-control" aria-describedby="positionHelp" required>
              <option selected>Choose...</option>
              {% for item in pos_t %}
                <option>{{item['position']}}</option>
              {% endfor %}
            </select>
          </div>
          <!--STORE DROPDOWN-->
          <div class="form-group">
            <label for="storeID">Store ID</label>
            <select id="storeID" name="storeID" class="form-control" aria-describedby="storeIDHelp" required>
            <option selected>Choose...</option>
            {% for item in loc_t %}
              <option>{{item['store_id']}}</option>
            {% endfor %}
            </select>
          </div>
          <button type="submit" class="btn btn-danger" name="AddP" value = "AddP">Add Position</button>
        </form>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFpur">
        Remove Role
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordion4">
      <div class="accordion-body">
        <form method = "POST" action = "/employeeprofiles">
          <div class="form-group">
            <label for="role">Role ID</label>
            <select id="role" name="role" class="form-control" aria-describedby="roleHelp" required>
              <option selected>Choose...</option>
              {% for item in role_t %}
                <option>{{ item['role_id'] }}</option>
              {% endfor %}
            </select>
          </div>
          <button type="submit" class="btn btn-danger" name="RemoveR" value = "RemoveR">Remove Role</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% for item in emp_t %}

<div class = "card-group">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Employee {{ item['employee_id'] }} <img src="../static/defaultpfp.png" width="50px"> </h5>
      <p class="card-text"></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ item['first_name'] }}  {{ item['last_name'] }}</li>
      <li class="list-group-item">{{ item['employee_email'] }}</li>
      <li class="list-group-item">{{ item['phone_number'] }}</li>
      <li class="list-group-item">{{ item['wage_salary'] }} per hour</li>
    </ul>
    <form method ="POST" action = "/employeeprofiles">
      <button type="submit" class="btn btn-danger" name="Delete" value = "{{ item['employee_id'] }}">Delete</button>
    </form>
  </div>
  <div class="card" style="width: 18rem;">
    <h5 class="card-title">Notes</h5>
    <div class="card-body">
      {% for notes in emp_t %}
        {% if notes['employee_id'] == item['employee_id'] %}
          <p> {{notes['description']}}</p>
        {% endif %}
      {% endfor %}
      <form method ="POST" action = "/employeeprofiles">
      <textarea name="Notes" id="Notes" rows = "10" columns = "30"></textarea>
      <button type = "submit" class= "btn btn-danger" name = "Save" value = "{{ item['employee_id'] }}"> Save </button>
      </form>
    </div>
  </div>
</div>

{% endfor %}


{% endblock %}