{% extends 'layout.html' %}

{% block title %}Profiles{% endblock %}

{% block content %}
<h2>Profiles Page</h2>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Add Employee
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <form method="POST" action="/employeeprofiles">
          <div class="row">
              <div class="col">
                  <label for="firstName">First Name:</label>
                  <input type="text" class="form-control" id="FN" name="firstName" required>
              </div>
              <div class="col">
                  <label for="lastName">Last Name:</label>
                  <input type="text" class="form-control" id="LN" name="lastName" required>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <label for="phone">Phone Number:</label>
                  <input type="text" class="form-control" id="P" name="phone" placeholder="###-###-####" required>
              </div>
              <div class="col">
                  <label for="email">Email Address:</label>
                  <input type="text" class="form-control" id="E" name="email" placeholder="example@example.ex" required>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <label for="id">ID:</label>
                  <input type="number" class="form-control" id="ID" name="id" min="0" step="1" required>
              </div>
              <div class="col">
                  <label for="salary">Hourly Pay:</label>
                  <input type="number" class="form-control" id="S" name="salary" placeholder="0.00" step="0.01" min="0" required>
              </div>
          </div>
          <button type="submit" class="btn btn-danger" name="Add" value = "Add">Add Employee</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% for item in emp_t %}
<script src="function.js"></script>
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Employee {{ item['employee_id'] }} <img src="../static/defaultpfp.png" width="50px"> </h5>
      <p class="card-text"></p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ item['first_name'] }}  {{ item['last_name'] }}</li>
      <li class="list-group-item">{{ item['employee_email'] }}</li>
      <li class="list-group-item">{{ item['phone_number'] }}</li>
      <li class="list-group-item">{{ item['wage_salary'] }} per hour</li>
    </ul>
    <div class="card-body">
        <!--TODO: create button functionalities-->
        <a href="#" class="btn btn-danger" onclick="con()">Notes</a>
        <a href="#" class="btn btn-danger" onclick="profileEdit()">Edit</a>
        <a href="#" class="btn btn-danger" onclick="profileDelete()">Delete</a>
    </div>
  </div>
{% endfor %}

{% endblock %}