{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home Page</h2>
<p>Welcome back, {{ username }}!</p>

<p><a href="{{ url_for('database') }}"><i class="fas fa-database"></i>Database</a></p>
<p><a href="{{ url_for('employeeprofiles') }}"><i class="fas fa-users"></i>Profiles</a></p>
<p><a href="{{ url_for('schedule') }}"><i class="fas fa-calendar"></i>Schedule</a></p>
<p><a href="{{ url_for('profile') }}"><i class="fas fa-user-circle"></i>User</a></p>
<p><a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a></p>
{% endblock %}