{% extends 'layout.html' %}

{% block title %}Database{% endblock %}

{% block content %}
<!---TODO: insert tables into seperate tabs, make it look prettier-->
<div class = "dropdown mt-3">
    Select Table: 
    <button class="btn btn-secondary dropdown-toggle" type = "button"
    id="database-dropdown" data-bs-toggle="dropdown">

    </button>
    <ul class="dropdown-menu" aria-labelledby="database-dropdown">
        <li><a href="{{ url_for('notesTable')}}">Notes Table</a></li>
        <li><a href="{{ url_for('positionTable')}}">Position Table</a></li>
        <li><a href="{{ url_for('rolesTable')}}">Roles Table</a></li>
        <li><a href="{{ url_for('shiftsTable')}}">Shifts Table</a></li>
        <li><a href="{{ url_for('userTable')}}">User Table</a></li>
        <li><a href="{{ url_for('locationTable') }}">Location Table</a></li>
        <li><a href="{{ url_for('employeeTable') }}">Employee Table</a></li>
    </ul>
</div>
<div class="flex-container">
    <div class="col">
        <table class="display" id="positiontable">
            <thead>
                <tr>
                    <th>Position</th>
                    <th>Description</th>
                    <th>Permissions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in pos_t %}
                <tr>
                    <td>{{ item['position'] }}</td>
                    <td>{{ item['description'] }}</td>
                    <td>{{ item['permissions'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}